spring:
  application:
    name: meat

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/meat_market_db}
    username: ${SPRING_DATASOURCE_USERNAME:meat_admin}
    password: ${SPRING_DATASOURCE_PASSWORD:Xaero891500}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    properties:
      hibernate:
        default_schema: meat_shop
        format_sql: true
        show_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true


app:
  upload:
    dir: ${APP_UPLOAD_DIR:./uploads}
    base-url: http://localhost:8080
  cors:
    allowed-origins: "http://localhost:*,http://localhost:5500,http://127.0.0.1:*"

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: true
    filter: true
  show-actuator: false

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.springframework.web: DEBUG
    ru.xaero.meat: DEBUG
  file:
    name: /app/logs/application.log

shop:
  orders:
    email-enabled: true
    notify-email: ${SHOP_NOTIFY_EMAIL:${MAIL_USERNAME}}
    from-email: ${MAIL_USERNAME}